.DS_Store
/node_modules/
/web/node_modules/
/web/build/
*.tsbuildinfo

# React Router
/.react-router/
/build/

# Cloudflare
.mf
.wrangler
.dev.vars*

/dist/

.nx/installation
.nx/cache
.nx/workspace-data
