@import "tailwindcss";

html,
body {
  /* @apply bg-white dark:bg-gray-950; */
  background-color: white;

  @media (prefers-color-scheme: dark) {
    background-color: #030712; /* dark:bg-gray-950 相当の色 */
    color-scheme: dark;
  }
}
